
.App {
    justify-content: center;
    /* text-align: center; */
    vertical-align: middle;
    border: 1px solid rgb(181, 177, 177);
    margin: 70px;
    background-color: rgb(255, 255, 255);
    padding: 50px;
    border-radius: 20px;
    width: 70vw;
 }

 
 
 .search{
    width: 25%;
    display: inline-block;
    vertical-align: middle;
    margin-left: 100px;
    margin-right: 150px;
    text-align: center;
}
.sortbar {
    width: 15%;
    display: inline-block;
    vertical-align: middle;
    margin-left: 100px;
    margin-right: 0;
}
button {
    text-align: center;
}
